#masonry-container.transitions-enabled.centered.clearfix.infinite-scroll.masonry
    - @movies.each do |movie|
        - if movie["torrents"]
            .movie-box{:id => movie["id"]}
                .panel
                    .panel-heading
                        = link_to :id => movie["id"], :action => "show" do
                            %img.movie-poster{:src => movie["medium_cover_image"], :alt => movie["title"], :height => "375px", :width => "250px"}
                    .panel-body
                        = link_to :id => movie["id"], :action => "show" do
                            %h1= movie["title"]
                        %p= truncate(movie["summary"], length: 300, separator: ' ')
                    .panel-footer
                        = link_to :year => movie["year"] do
                            %h2= movie["year"]
                        = link_to "http://www.imdb.com/title/"+movie["imdb_code"], {:target => "_blank", :rel => "tooltip", :title => "IMDb"} do
                            .star-rating{:class => "rate"+(movie["rating"]*10).to_i.to_s}
                            %span.rating= movie["rating"]
                        .pg
                            = link_to movie["mpa_rating"],"http://www.imdb.com/title/"+movie["imdb_code"]+"/parentalguide", {:target => "_blank", :rel => "tooltip", :title => "Parental Guidance"}
                        - movie["genres"].each do |moviegenres|
                            = link_to :genre => moviegenres do
                                .label.label-genre= moviegenres
                .link-group
                    - movie["torrents"].each do |torrent|
                        = link_to torrent["url"] do
                            .dl-link= torrent["quality"]