%form{:role => 'search', :method => 'get'}
    .search.control.has-addons.has-addons-centered
        %input.has-text-centered#query.input.is-large{:name => "q", :type => "text", :placeholder => "Search a keyword. Batman?... not too specific!", :value => params[:q]}
        %span.select.is-large
            %select.has-text-centered#sort{:name => "sort"}
                %option{:value => ""} by Latest
                - @sorts.each do |sort|
                    - if params[:sort] == sort
                        - if params[:sort] == "title"
                            %option{:value => sort, :selected => true} Alphabetical
                        - if params[:sort] == "rating"
                            %option{:value => sort, :selected => true} by Rating
                        - if params[:sort] == "year"
                            %option{:value => sort, :selected => true} by Year
                    - else
                        - if sort == "title"
                            %option{:value => sort, :selected => false} Alphabetical
                        - if sort == "rating"
                            %option{:value => sort, :selected => false} by Rating
                        - if sort == "year"
                            %option{:value => sort, :selected => false} by Year
        %button.button.submit-button.is-large{:type => "submit", :value => "submit"}
            %i.fa.fa-search.fa-fw
%br
%h3.title.is-3.has-text-centered
    or
%form{:role => 'search', :method => 'get'}
    .search.control.has-addons.has-addons-centered
        %input.has-text-centered#year.input.is-large{:name => "year", :type => "number", :min => @min_year, :max => @max_year, :step => 1, :placeholder => "All Years", :value => params[:year]}
        %span.select.is-large
            %select#rating{:name => "rating"}
                %option{:value => ""} Any Rating
                - @ratings.each do |rating|
                    - if params[:rating] == rating
                        %option{:value => rating, :selected => true}= rating + "+"
                    - else
                        %option{:value => rating, :selected => false}= rating + "+"
        %span.select.is-large
            %select#genre{:name => "genre"}
                %option{:value => ""} All Genres
                - @genres.each do |genre|
                    - if params[:genre] == genre
                        %option{:value => genre, :selected => true}= genre
                    - else
                        %option{:value => genre, :selected => false}= genre
        %span.select.is-large
            %select#quality{:name => "quality"}
                %option{:value => ""} All Qualities
                - @qualities.each do |quality|
                    - if params[:quality] == quality
                        %option{:value => quality, :selected => true}= quality
                    - else
                        %option{:value => quality, :selected => false}= quality
        %span.select.is-large
            %select#sort{:name => "sort"}
                %option{:value => ""} by Latest
                - @sorts.each do |sort|
                    - if params[:sort] == sort
                        - if params[:sort] == "title"
                            %option{:value => sort, :selected => true} Alphabetical
                        - if params[:sort] == "rating"
                            %option{:value => sort, :selected => true} by Rating
                        - if params[:sort] == "year"
                            %option{:value => sort, :selected => true} by Year
                    - else
                        - if sort == "title"
                            %option{:value => sort, :selected => false} Alphabetical
                        - if sort == "rating"
                            %option{:value => sort, :selected => false} by Rating
                        - if sort == "year"
                            %option{:value => sort, :selected => false} by Year
        %button.button.submit-button.is-large{:type => "submit", :value => "submit"}
            %i.fa.fa-refresh.fa-fw
