.level.is-mobile.footer-bar
    .level-item.has-text-centered
        %img{:src => image_url("developer.svg")}
    .level-item.has-text-centered
        = link_to "https://yts.ag/" do
            %img{:src => image_url("logos/yts-logo.svg")}
    .level-item.has-text-centered
        = link_to "https://www.ruby-lang.org/" do
            %img{:src => image_url("logos/ruby-logo.svg")}
    .level-item.has-text-centered
        = link_to "http://rubyonrails.org/" do
            %img{:src => image_url("logos/rails-logo.svg")}
    .level-item.has-text-centered
        = link_to "http://haml.info/" do
            %img{:src => image_url("logos/haml-logo.svg")}
    .level-item.has-text-centered
        = link_to "http://sass-lang.com/" do
            %img{:src => image_url("logos/sass-logo.svg")}
    .level-item.has-text-centered
        = link_to "http://coffeescript.org/" do
            %img{:src => image_url("logos/coffeescript-logo.svg")}
    .level-item.has-text-centered
        = link_to "http://bulma.io/" do
            %img{:src => image_url("logos/bulma-logo.svg")}
    .level-item.has-text-centered
        = link_to "http://fontawesome.io/" do
            %img{:src => image_url("logos/font-awesome-logo.svg")}