!!!
%html
    %head
        %title Popcornee — Browse YiFy Torrents
        %meta{:content => "Browse YiFy Torrents", :name => "description"}
        = csrf_meta_tags
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
        = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    - if params[:genre]
        %body{:class => params[:genre].capitalize}
            .container-fluid.heading
                .row.text-center{:style => "margin: 50px 0"}
                    =link_to root_path do
                        %img{:src => image_url("popcorn.svg"), :width => "200px"}
            = yield 
    - else
        %body
            .container-fluid.heading
                .row.text-center{:style => "margin: 50px 0"}
                    =link_to root_path do
                        %img{:src => image_url("popcorn.svg"), :width => "200px"}
            = yield 