!!!
%html
    %head
        %title Popcornee — Browse YiFy Torrents
        %meta{:content => "Browse YiFy Torrents", :name => "description"}
        = csrf_meta_tags
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
        = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
        = render 'favicon'
    - if params[:genre]
        %body{:class => params[:genre].capitalize}
            %img#devlogo{:src => image_url("developer.svg")}
            .top-bar.text-center
                =link_to root_path do
                    %img.logo{:src => image_url("popcorn.svg")}
                    %br
                    %h1.title.is-1.text-w900 Popcornee
            = yield 
    - else
        %body
            %img#devlogo{:src => image_url("developer.svg")}
            .top-bar.text-center
                =link_to root_path do
                    %img.logo{:src => image_url("popcorn.svg")}
                    %br
                    %h1.title.is-1.text-w900 Popcornee
            = yield 