!!!
%html
    %head
        %title
            - if @movie
                = @movie["title_long"]
                |
            - if params[:genre]
                = params[:genre]
                |
            Popcornee — Browse YiFy Torrents
        %meta{:content => "Browse YiFy Torrents", :name => "description"}
        = csrf_meta_tags
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
        = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
        = render 'favicon'
    - if params[:genre]
        %body{:class => params[:genre].capitalize}
            #info-button
                = link_to "static/info" do
                    %i.fa.fa-info.fa-2x
            .top-bar.has-text-centered
                =link_to root_path do
                    %img.logo{:src => image_url("popcornee-logo.svg")}
                    %br
                    %img{:src => image_url("popcornee-title.svg"), :width => "200px"}
            = yield 
    - else
        %body
            #info-button
                = link_to "static/info" do
                    %i.fa.fa-info.fa-2x
            .top-bar.has-text-centered
                =link_to root_path do
                    %img.logo{:src => image_url("popcornee-logo.svg")}
                    %br
                    %img{:src => image_url("popcornee-title.svg"), :width => "200px"}
            = yield 