!!!
%html
    %head
        %title Popcornee — Browse YiFy Torrents
        %meta{:content => "Browse YiFy Torrents", :name => "description"}
        = csrf_meta_tags
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
        = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    - if params[:genre]
        %body{:class => params[:genre].capitalize}
            .text-center
                =link_to root_path do
                    %img.logo{:src => image_url("popcorn.svg")}
            = yield 
    - else
        %body
            .text-center
                =link_to root_path do
                    %img.logo{:src => image_url("popcorn.svg")}
            = yield 