!!!
%html
    %head
        %title
            - if @movie
                = @movie["title_long"]
                |
            - if params[:genre]
                = params[:genre]
                |
            Popcornee — Browse YiFy Torrents
        %meta{:content => "Browse YiFy Torrents", :name => "description"}
        = csrf_meta_tags
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
        = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
        = render 'favicon'
    - if params[:genre]
        %body{:class => params[:genre].capitalize}
            = render 'layouts/top-bar'
            = yield 
    - else
        %body
            = render 'layouts/top-bar'
            = yield 